# Modulo 4 - Machine Learning e Saúde

No curso vamos iniciar nosso mergulho em Machine Learning, iniciando  os trabalhos para resolver um problema real proposto pelo hospital Sírio Libanês.

Desta vez desenvolveremos nosso curso nos notebooks do [Kaggle](https://www.kaggle.com/), você pode ficar livre para desenvolver em um jupyter notebook, outras  plataformas como Google Colaboratory ou com a sua IDE favorita. 

Para desenvolver nosso curso vamos precisar da base de dados, em  vídeo mostramos como você pode acessar a base de dados direto da  competição criada pelo [Sírio Libanês no Kaggle](https://www.kaggle.com/Sírio-Libanes/covid19).

Você também pode acessar os notebooks de todas as aulas diretamente pelo [github do projeto](https://github.com/alura-cursos/covid-19-clinical).

## Aula 1 - Introdução

**O que aprendemos:**

- O que é o Kaggle e como utilizar;

- Como interpretar o problema proposto pelo Sírio Libanês;
- O que é uma classificação Binária.

**Desafios**

Agora chegou o momento de se desafiar, resolvendo os problemas propostos.

Desafio 01: Se você não conhece o Kaggle, explore um pouco os datasets, competições e discussões para verificar o quão rico é esta  plataforma.

Desafio 02: Leia a descrição do problema proposta pelo Sírio  Libanês, tentando entender qual é o real problema. Antes de continuar  para as próximas aulas, debata no Discord suas conclusões sobre o  projeto.

---

Trataremos de um problema de classificação binaria: paciente vai ou nao vai pra UTI?

Se a pergunta mudasse para “em quantas horas a pessoa vai pra UTI ?", já não seria mais um problema de classificação binária. Talvez fosse mais pro lado de algoritmos de regressão.

## Aula 2 - Desenvolvimento no Kaggle

**O que aprendemos**

- Como usar os notebooks direto do Kaggle;
- O que são algoritmos supervisionados;
- O que são dados anonimizados e sua relevância da perspectiva ética.

**Desafios**

Desafio 01 -pesquisar aprendizado supervisionado, não supervisionado, por reforço e mais (forma).

Desafio 02 - Pesquisar sobre classificação, regressão e outros problemas que podem ser solucionados com Machine Learning.

Você pode baixar acessar os códigos e dados desta aula por esse [Link](https://github.com/alura-cursos/covid-19-clinical/blob/main/previs-o-de-uti-de-covid-19-aula-3.ipynb).

In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
for dirname, _, filenames in os.walk('data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
        filepath = os.path.join(dirname, filename)
        break

data/Kaggle_Sirio_Libanes_ICU_Prediction.xlsx

In [3]:
dados = pd.read_excel(filepath)

In [4]:
dados.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,0
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,NaN,NaN,NaN,NaN,-1.000000,-1.000000,6-12,0
4,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,ABOVE_12,1

In [5]:
dados.shape

(1925, 231)

In [6]:
dados.describe()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,...,RESPIRATORY_RATE_DIFF,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,ICU
count,1925.000000,1925.000000,1925.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,...,1177.000000,1231.000000,1239.000000,1240.000000,1240.000000,1240.000000,1177.000000,1231.000000,1239.000000,1925.000000
mean,192.000000,0.467532,0.368831,0.108333,0.028125,0.097917,0.019792,0.128125,0.046875,0.213021,...,-0.703683,-0.770338,-0.887196,-0.786997,-0.715950,-0.817800,-0.719147,-0.771327,-0.886982,0.267532
std,111.168431,0.499074,0.482613,0.310882,0.165373,0.297279,0.139320,0.334316,0.211426,0.409549,...,0.482097,0.319001,0.296147,0.324754,0.419103,0.270217,0.446600,0.317694,0.296772,0.442787
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,96.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
50%,192.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-0.976190,-0.979798,-1.000000,-0.984944,-0.989822,-1.000000,-0.975924,-0.980333,0.000000
75%,288.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.647059,-0.595238,-0.878788,-0.645482,-0.522176,-0.662529,-0.634409,-0.594677,-0.880155,1.000000
max,384.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

- "Disease Grouping" são agrupamentos de doenças não explicitadas por questões de privacidade
- ICU: Intensive Care Unit. UTI em inglês. Talvez a probabilidade de ir pra UTI, de 0 a 1?

In [7]:
display(
    dados.ICU.value_counts(),
    dados.ICU.value_counts(normalize=True).round(2)
)

0    1410
1     515
Name: ICU, dtype: int64

0    0.73
1    0.27
Name: ICU, dtype: float64

- Guilherme dá um exemplo da primeira vez que seu filho viu um cachorro. O processo de aprendizado do que é um cão para uma criança é semelhante ao aprendizado supervisionado por máquinas. Os pais dão as etiquetas para classificação e as afirmações do que é - ou não é - um cachorro.

## Aula 3 - Modelos de Machine Learning

**O que aprendemos**

- O que é a uma regressão logística;
- Como treinar o seu primeiro modelo de Machine Learning.


**Desafios**

Desafio 03 - Qual o motivo de jogar fora o ICU do dado X? O que acontece se estiver no x? Pq seria bom/ruim? .

Desafio 04 - Pesquisar sobre ética em data science/ciência de dados e inteligência artificial .

Você pode baixar acessar os códigos e dados desta aula por esse [Link](https://github.com/alura-cursos/covid-19-clinical/blob/main/previs-o-de-uti-de-covid-19-aula-4.ipynb).

In [8]:
# .describe() mantem apenas as colunas numéricas ou categoricas, removendo strings. É o que quremos
x_columns = dados.describe().columns

dados_limpos = dados.dropna()

In [9]:
# origem de porque x/y maiusculo ou minusculo? 
# X maiusculo pois são varias colunas, y pois é só uma coluna.
# motivo de aqui estar minúsculo? 
# ele diz preferir por ser padrão no python variáveis minúsculas

y = dados_limpos.ICU
x = dados_limpos[x_columns].drop(['ICU'], axis='columns')

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
# import warnings
# warnings.filterwarnings('ignore')

modelo = LogisticRegression()
modelo.fit(x, y)

LogisticRegression()

Testando apenas para 1 paciente

In [12]:
x.iloc[4]

PATIENT_VISIT_IDENTIFIER           2.000000
AGE_ABOVE65                        0.000000
GENDER                             0.000000
DISEASE GROUPING 1                 0.000000
DISEASE GROUPING 2                 0.000000
                                     ...
BLOODPRESSURE_SISTOLIC_DIFF_REL   -0.343258
HEART_RATE_DIFF_REL               -0.576744
RESPIRATORY_RATE_DIFF_REL         -0.695341
TEMPERATURE_DIFF_REL              -0.505464
OXYGEN_SATURATION_DIFF_REL        -0.900129
Name: 14, Length: 228, dtype: float64

In [13]:
modelo.predict([x.iloc[4]])

array([1])

In [14]:
y.iloc[4]

1

Generalizando

In [15]:
previsao = modelo.predict(x)

In [16]:
previsao

array([1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0])

In [17]:
print('Acertos:', sum(previsao == y))
print('Erros: ', sum(previsao != y))
print('Acertos Percentuais:',  sum(previsao == y) / len(y) * 100)

Acertos: 497
Erros:  48
Acertos Percentuais: 91.19266055045871

In [18]:
accuracy = sum(previsao == y) / len(y) * 100

Como transformar uma regressão em classificação?

-> Determinando faixas, como é feito com a voltagem de transistores sendo associados em 0 e 1.
A curva de [regressão logística](https://en.wikipedia.org/wiki/Logistic_regression) é muito útil pra isso.

In [19]:
y.value_counts(), y.value_counts(normalize=True).round(2)

(0    281
 1    264
 Name: ICU, dtype: int64,
 0    0.52
 1    0.48
 Name: ICU, dtype: float64)

## Aula 4 - Métricas e Avaliações

**O que aprendemos**

- Como metrificar um modelos de classificação, usando o Sci-kit Learn;
- Como realizar o treinamento dividindo em dados de treino e teste.


**Desafios**

Desafio 05 - Decida quanto você vai escolher para treino e quanto para teste? Quanto as pessoas utilizam e qual o motivo?

Desafio 06 - Olhe a documentação da LogisticRegression... o que tem de parâmetro em comum com o train_test_split? O que isso significa pra nós? .

Você pode baixar acessar os códigos e dados desta aula por esse [Link](https://github.com/alura-cursos/covid-19-clinical/blob/main/previs-o-de-uti-de-covid-19-aula-5.ipynb).

In [20]:
from sklearn.dummy import DummyClassifier

modelo = DummyClassifier()
modelo.fit(x,y)
sum(modelo.predict(x) == y) / len(y) * 100

51.559633027522935

In [21]:
from sklearn.metrics import accuracy_score

accuracy_score(y, modelo.predict(x))

0.5155963302752293

In [22]:
np.random.seed(73246)

In [23]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, stratify = y, test_size=0.25)

for df in (x_train, x_test, y_train, y_test):
    print(df.shape)

(408, 228)
(137, 228)
(408,)
(137,)

In [24]:
from sklearn.linear_model import LogisticRegression

modelo = LogisticRegression(max_iter=600)
modelo.fit(x_train, y_train)
y_prediction = modelo.predict(x_test)
accuracy_score(y_test, y_prediction)

0.8248175182481752

Como lidar com conjuntos de treino/teste não representativos?  
Estratificação.

## Aula 5 - Compreendendo o Problema Real

**O que aprendemos**

- A compreender o real problema do negócio;
- A manipular os dados para resolver o problema real;
- Como usar os modelos Dummy para comparar qualidade do modelo.

**Desafios**

Super desafio 6: não usar backfill da janela após a pessoa ter ido pra UTI

Desafio 07 - Arranque fora as colunas que não devem ser utilizadas. (evitar vazamento de dados.)

Desafio 08 - Essa aula não foi simples, repasse por ela e garanta que entendeu passo a passo.

Você pode baixar acessar os códigos e dados desta aula por esse [Link](https://github.com/alura-cursos/covid-19-clinical/blob/main/previs-o-de-uti-de-covid-19-final-modulo.ipynb).

In [25]:
dados.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,0
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,NaN,NaN,NaN,NaN,-1.000000,-1.000000,6-12,0
4,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,ABOVE_12,1

Revendo a entrada inicial, notamos que não há um paciente por linha, pois a coluna que identifica um paciente é a PATIENT_VISIT_IDENTIFIER, que possui 385 valores diferentes, portanto, 385 pacientes.

In [26]:
dados['PATIENT_VISIT_IDENTIFIER'].unique().size

385

In [27]:
dados['PATIENT_VISIT_IDENTIFIER'].value_counts().unique()

array([5])

E cada um destes pacientes aparece 5 vezes na tabela.

Porque 5 vezes? Pela divisão em 5 janelas temporais de medições, como mostram os valores únicos da variável WINDOW.

In [28]:
dados.WINDOW.unique()

array(['0-2', '2-4', '4-6', '6-12', 'ABOVE_12'], dtype=object)

Em séries temporais, quando menor o intervalo de tempo entre as medidas, maior a chance de ficar igual. DummyRegressor faz isso.  
A tendência é que as coisas não variem tão fortemente com o tempo.  
No caso de ações em bolsa de valores, elas são dependentes do momento anterior. É o problema das equações em diferenças e diferenciais em sistemas dinâmicos.

In [29]:
dados_fake = pd.DataFrame([[1, 1, 1], [1, None, 2],
                           [2, None, 1], [2, None, 2]],
                         columns = ['usuario', 'medida', 'janela'])

In [30]:
dados_fake = pd.DataFrame([[1, None, 1], [1, 2.5, 2],
                           [2, 3.0, 1], [2, None, 2],
                           [3, None, 1], [3, 1, 2], [3, None, 3],
                          [4, None, 1], [4, 6, 2], [4, None, 3], [4,5,4], [4, None, 5]],
                         columns = ['usuario', 'medida', 'janela'])

In [31]:
dados_fake

    usuario  medida  janela
0         1     NaN       1
1         1     2.5       2
2         2     3.0       1
3         2     NaN       2
4         3     NaN       1
5         3     1.0       2
6         3     NaN       3
7         4     NaN       1
8         4     6.0       2
9         4     NaN       3
10        4     5.0       4
11        4     NaN       5

Ao invés do dropna, que tal um fillna pelo último valor? agrupando por usuário. E preenchendo pra frente e para tras

In [32]:
dados_fake.groupby('usuario', as_index=False)['medida'].fillna(method='ffill').fillna(method='bfill')

    medida
0      2.5
1      2.5
2      3.0
3      3.0
4      1.0
5      1.0
6      1.0
7      6.0
8      6.0
9      6.0
10     5.0
11     5.0

### Refazendo do começo, com outra visão

In [33]:
import pandas as pd
import numpy as np

In [34]:
import os
for dirname, _, filenames in os.walk('data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
        filepath = os.path.join(dirname, filename)
        break

data/Kaggle_Sirio_Libanes_ICU_Prediction.xlsx

In [35]:
dados = pd.read_excel(filepath)

In [36]:
dados.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,0
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,NaN,NaN,NaN,NaN,-1.000000,-1.000000,6-12,0
4,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,ABOVE_12,1

In [37]:
features_continuas = dados.iloc[:, 13:-2].columns # apenas colunas não discretas
features_continuas

Index(['ALBUMIN_MEDIAN', 'ALBUMIN_MEAN', 'ALBUMIN_MIN', 'ALBUMIN_MAX',
       'ALBUMIN_DIFF', 'BE_ARTERIAL_MEDIAN', 'BE_ARTERIAL_MEAN',
       'BE_ARTERIAL_MIN', 'BE_ARTERIAL_MAX', 'BE_ARTERIAL_DIFF',
       ...
       'HEART_RATE_DIFF', 'RESPIRATORY_RATE_DIFF', 'TEMPERATURE_DIFF',
       'OXYGEN_SATURATION_DIFF', 'BLOODPRESSURE_DIASTOLIC_DIFF_REL',
       'BLOODPRESSURE_SISTOLIC_DIFF_REL', 'HEART_RATE_DIFF_REL',
       'RESPIRATORY_RATE_DIFF_REL', 'TEMPERATURE_DIFF_REL',
       'OXYGEN_SATURATION_DIFF_REL'],
      dtype='object', length=216)

In [38]:
def preenche_tabela(dados):
    features_continuas_colunas = dados.iloc[:, 13:-2].columns
    features_continuas = dados.groupby('PATIENT_VISIT_IDENTIFIER', as_index=False)[features_continuas_colunas].fillna(method='ffill').fillna(method='bfill')
    
    features_categoricas = dados.iloc[:, :13]
    saida = dados.iloc[:, -2:]
    dados_finais = pd.concat([features_categoricas, features_continuas, saida], 
                             ignore_index = True,
                             axis=1)
    dados_finais.columns = dados.columns
    return dados_finais

In [39]:
dados_limpos = preenche_tabela(dados)
dados_limpos.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,4-6,0
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,6-12,0
4,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,ABOVE_12,1

In [40]:
dados_limpos.describe()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,...,RESPIRATORY_RATE_DIFF,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,ICU
count,1925.000000,1925.000000,1925.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,...,1925.000000,1925.000000,1925.000000,1925.000000,1925.000000,1925.000000,1925.000000,1925.000000,1925.000000,1925.000000
mean,192.000000,0.467532,0.368831,0.108333,0.028125,0.097917,0.019792,0.128125,0.046875,0.213021,...,-0.796211,-0.831911,-0.919693,-0.843716,-0.796734,-0.869248,-0.807560,-0.832776,-0.919584,0.267532
std,111.168431,0.499074,0.482613,0.310882,0.165373,0.297279,0.139320,0.334316,0.211426,0.409549,...,0.406496,0.287052,0.243907,0.282808,0.364214,0.235885,0.375520,0.285875,0.244444,0.442787
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,96.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
50%,192.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
75%,288.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.764706,-0.761905,-0.919192,-0.778261,-0.734033,-0.836524,-0.794355,-0.768926,-0.923299,1.000000
max,384.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [41]:
dados_limpos = dados_limpos.dropna()

Não podemos usar quem já entrou direto na UTI.

In [42]:
a_remover = dados_limpos.query("WINDOW=='0-2' and ICU==1")['PATIENT_VISIT_IDENTIFIER'].values
dados_limpos = dados_limpos.query('PATIENT_VISIT_IDENTIFIER not in @a_remover')

In [43]:
dados_limpos.describe()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,...,RESPIRATORY_RATE_DIFF,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,ICU
count,1760.000000,1760.000000,1760.000000,1760.00000,1760.000000,1760.000000,1760.000000,1760.000000,1760.000000,1760.000000,...,1760.000000,1760.000000,1760.000000,1760.000000,1760.000000,1760.000000,1760.000000,1760.000000,1760.000000,1760.000000
mean,192.818182,0.457386,0.380682,0.11250,0.026136,0.101705,0.021591,0.132955,0.049432,0.212500,...,-0.813369,-0.841694,-0.925178,-0.852285,-0.809092,-0.874791,-0.821924,-0.842610,-0.925164,0.201705
std,110.637724,0.498322,0.485692,0.31607,0.159586,0.302345,0.145385,0.339622,0.216829,0.409193,...,0.385784,0.265921,0.234440,0.270025,0.347524,0.228338,0.358887,0.264551,0.234701,0.401387
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,97.750000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
50%,191.500000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
75%,289.250000,1.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.823529,-0.785714,-0.939394,-0.804348,-0.763835,-0.840119,-0.817204,-0.784374,-0.938144,0.000000
max,384.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.333333,1.000000,1.000000,1.000000,1.000000,1.000000,0.329660,1.000000,1.000000

Agora precisamos definir das 5 janelas, quais eu vou usar.

In [44]:
# feature: usaremos apenas a primeira janela, com uma feature binária caso tenha ido em qualquer janela na UTI.

def prepare_window(rows):
    # rows é o conjunto de 5 linhas para cada paciente
    # se qualquer linha deste paciente foi para UTI
    if (np.any(rows["ICU"])):
        rows.loc[rows["WINDOW"]=="0-2", "ICU"] = 1
    
    # redução das linhas retorna apenas 1 nova linha
    return rows.loc[rows["WINDOW"] == "0-2"]

Super desafio 6: não usar backfill da janela após a pessoa ter ido pra UTI

min 34:30 - inverter. Primeiro chamar o prepare window, add algo no meio e depois fazer o backfill.

In [45]:
dados_limpos = dados_limpos.groupby('PATIENT_VISIT_IDENTIFIER').apply(prepare_window)
dados_limpos.head()

,,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
PATIENT_VISIT_IDENTIFIER,,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
2,10,2,0,10th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-0.959596,-0.515528,-0.351328,-0.747001,-0.756272,-1.000000,-0.961262,0-2,1
3,15,3,0,40th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
4,20,4,0,10th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.952381,-0.979798,-1.000000,-0.883669,-0.956805,-0.870968,-0.953536,-0.980333,0-2,0
5,25,5,0,10th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.976190,-0.979798,-0.860870,-0.714460,-0.986481,-1.000000,-0.975891,-0.980129,0-2,0

Pacientes sem nulos e que não foram internados nas duas primeiras horas (primeira janela)

In [46]:
x_columns = dados.describe().columns
# x_columns, dados_limpos.describe().columns.size

In [12]:
# y = dados_limpos.ICU
# x = dados_limpos[x_columns].drop(['ICU'], axis='columns')

In [47]:
y = dados_limpos["ICU"]
x = dados_limpos[x_columns].drop(["ICU"], axis=1)

In [48]:
np.random.seed(73246)

In [49]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, stratify = y)

for i in (x_train, x_test, y_train, y_test):
    print(i.shape)

(264, 228)
(88, 228)
(264,)
(88,)

In [50]:
from sklearn.metrics import accuracy_score
from sklearn.dummy import DummyClassifier

modelo = DummyClassifier()
modelo.fit(x_train, y_train)

y_prediction = modelo.predict(x_test)
accuracy_score(y_test, y_prediction)

0.5340909090909091

In [51]:
from sklearn.linear_model import LogisticRegression

modelo = LogisticRegression(max_iter = 1500)
modelo.fit(x_train, y_train)

y_prediction = modelo.predict(x_test)
accuracy_score(y_test, y_prediction)

0.7045454545454546

# Questões a explorar

- Na videoaula o Dummy deles deu 0.48 e o Logistic Regression 0.71. Porque os meus resultados deram diferente? o max_iter dá diferença?

- Desafios

Super desafio 6: não usar backfill da janela após a pessoa ter ido pra UTI

Desafio 07 - Arranque fora as colunas que não devem ser utilizadas. (evitar vazamento de dados.)

Desafio 08 - Essa aula não foi simples, repasse por ela e garanta que entendeu passo a passo.

**Testar**: Primeiro chamar o prepare window, add algo no meio e depois fazer o backfill. 


ver video de conclusão pra ter ideias

Há diferenças entre os dois casos? Talvez na questão do falso positivo?
São equivalentes?


**Tarefa 1** - Prever a admissão na UTI de casos confirmados de COVID-19.

| Previsão | Foi pra UTI (1)     | NÃO foi pra UTI (0) |
| -------- | ------------------- | ------------------- |
| 1        | Verdadeiro Positivo | Falso Positivo      |
| 0        | Falso Negativo      | Verdadeiro Negativo |



**Tarefa 2** - Prever a NÃO admissão à UTI de casos COVID-19 confirmados.

| Previsão | NÃO foi pra UTI (0) | Foi pra UTI (1)     |
| -------- | ------------------- | ------------------- |
| 0        | Verdadeiro Positivo | Falso Positivo      |
| 1        | Falso Negativo      | Verdadeiro Negativo |

In [52]:
dados

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,0
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,NaN,NaN,NaN,NaN,-1.000000,-1.000000,6-12,0
4,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,ABOVE_12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1921,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
1922,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,4-6,0
1923,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,6-12,0
1924,384,0,50th,1,0.0,0.0,1.0,0.0,0.0,0.0,...,-0.547619,-0.838384,-0.701863,-0.585967,-0.763868,-0.612903,-0.551337,-0.835052,ABOVE_12,0

In [53]:
dados.describe()['ICU']

count    1925.000000
mean        0.267532
std         0.442787
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: ICU, dtype: float64

In [54]:
dados.groupby('PATIENT_VISIT_IDENTIFIER', as_index=False)